.loader-container {
    max-width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    background: #c9c8c7;
    object-fit: contain;
}

.loading-title {
    position: fixed;
    color: red;
    text-align: center;
    padding: 2%;
    font-weight: 800;
    font-size: 50px;
    z-index: 3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

.pokeball-spin {
    width: 100%;
}

.pokeball-icon {
    position: absolute;
    width: 150%;
    height: auto;
    left: -75%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(-360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(-360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 

}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
    .loading-title {
        font-size: 28px;
    }
}