.pokepage-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #c9c8c7;
    align-content: center;
    padding: 1%;
}

.go-back-container {
    position: relative;
}

.back-btn {
    background: none;
    border-radius: 5px;
    cursor: pointer;
    padding: .2%;
}

.back-btn:hover {
    background-color: darkgrey;
}

.pokedata.name-container {
    width: auto;
}

.pokedata-name {
    text-align: left;
    font-size: 4.2vmin;
}

.pokedata-img-container {
    position: relative;
    max-width: 400px;
    max-height: 400px;
    /* height: fit-content; */
    border: 5px solid black;
    box-shadow: 5px 5px black;
    border-radius: 5px;
}

.pokedata-img   {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    
}

.shiny-star-container {
    position: absolute;
    z-index: 2;
    max-width: 21%;
    max-height: 21;
}

.shinystar-on {
    position: relative;
    filter: invert(100%) sepia(100%) saturate(502%) hue-rotate(2deg) brightness(120%) contrast(80%);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.shinystar-off {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.pokedata-types-container {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    /* border: 1px solid green; */
    justify-content: space-around;
}

.pokedata-types {
    max-width: 200px;
    border-radius: 5px;
    padding: 1%;
    margin: 2.5%;
    box-shadow: 5px 5px black;
    border: 1px solid black;
}

.pokedata-types-name {
    width: 100% auto;
    padding: 1%;
    /* font-size: 3.2vmin; */
}

.pokedata-abilities-container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    justify-content: space-around;
    padding: .5%;
}

.pokedata-abilities-title {
    width: 100% 100%;
}

.pokedata-abilities {
    border-radius: 5px;
    padding: 1%;
    margin: 2.5%;
    box-shadow: 5px 5px black;
    border: 1px solid black;
}

.pokedata-abilities-name {
    white-space: nowrap;

}

.pokedata-details-container {
    padding: .5%;

}

.pokedata-stats-container {
    padding: .5%;

}

.pokedata-stats {
    border-radius: 5px;
    padding: 1%;
    margin: 2.5%;
    box-shadow: 5px 5px black;
    border: 1px solid black;
}

.pokedata-stats-name {
    white-space: nowrap;

}

.pokedata-moves-container {
    padding: .5%;

}

.pokedata-moves {
    border-radius: 5px;
    padding: .5%;
    margin: 1.2%;
    box-shadow: 5px 5px black;
    border: 1px solid black;
}

.pokedata-moves-name {
    white-space: nowrap;
}