.pokeheader-container {
    max-height: fit-content;
    background: radial-gradient(circle, rgba(180,0,0,1) 0%, rgba(180,37,37,1) 50%, rgba(180,0,0,1) 100%);    padding: 1%;
}

.poke-title {
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: yellow;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 58px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: navy;
    letter-spacing: .2rem;
    line-height: 140%;
}

.poke-subtitle {
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: yellow;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 32px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: navy;
    letter-spacing: .2rem;
    line-height: 140%;

}

@media only screen and (max-width: 992px) {
    /* .pokeheader-container {

    } */

    .poke-title {
        font-size: 40px;

    }
  }

  @media only screen and (max-width: 768px) {
    .poke-title {
        font-size: 35px;

    }

    .poke-subtitle {
        padding-bottom: 2%;
    }
  }