* {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100% auto;
}

.title-section {
  flex-direction: column;
  background-color: red;
  padding: 2%;
}

.app-title {
  text-align: center;
  font-weight: 200;
  color: white;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 29px;
}

.search-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 1%;
}

.poke-input {
  display: block;
  width: 80%;
  padding: 2%;
}

.poke-search {
  display: block;
  width: auto;
  padding: 2%;
}

.poke-search:hover {
 cursor: pointer;
}

.pokemon-section {
  background-color: lightgrey;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-section h3 {
  margin: 0;
}