.homepage-container {
    display: flex;
    flex-direction: column;
    background-color: #c9c8c7;
    width: 100%;
}

.row {
    width: 100%;
    padding: .5%;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    justify-content: space-around;
}

.col {
    width: auto;
    padding: .5%;
    display: flex;
}

.pkm-no {
    position: relative;
    color: black;
    writing-mode:vertical-lr;
    transform: rotate(180deg);
    padding-top: 6%;
}

.poke-container {
    width: auto;
    border: black outset 2px;
    margin: .5%;
    padding: .2%;
    white-space: nowrap;
    border-radius: 5px;
    background-color: #a6a3a2;
    box-shadow: 5px 5px black;
}

.load-more-container {
    position: relative;
    display: flex;
}

.load-more {
    margin: 0 auto;
    font-size: 29px;
    background: none;
    border: none;
    padding: 1%;
    cursor: pointer;
}
